<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SELECT Python</title>
</head>
<body>
<ul>
    <a href="/films">Przykład 1 - Lista filmów</a><br>
    <a href="/films/1">Przykład 2 - Pojedynczy film</a><br>
    <a href="/films_with_category">Przykład 3 - Lista filmów z kategorią</a><br>
    <a href="/films_with_category_order">Przykład 4 - Lista filmów z kategorią posortowana po nazwie kategorii</a><br>
    <a href="/actors/add">Przykład 5 - Dodawanie aktora</a><br>
    <a href="/actors/edit/1">Przykład 6 - Edycja aktora</a><br>
    <a href="/actors/delete/1">Przykład 7 - Usuwanie aktora</a><br>
    <a href="/actors_count">Przykład 8 - List aktorów z podsumowaniem</a>
</ul>
</body>
</html>